<footer class="footer py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h5 class="text-white mb-3">ToolsWonder</h5>
				<p class="text-white-50">
					Simplifying your digital life with powerful, easy-to-use tools for all your needs.
				</p>
			</div>
			<div class="col-md-4">
				<h5 class="text-white mb-3">Contact Us</h5>
				<ul class="list-unstyled">
					<li>
						<a href="mailto:toolswonder1@gmail.com" class="text-white-50 text-decoration-none">
							<i class="bi bi-envelope me-2"></i> toolswonder1@gmail.com
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5 class="text-white mb-3">Quick Links</h5>
				<ul class="list-unstyled">
					<li><a href="#" class="text-white-50 text-decoration-none">Home</a></li>
					<li><a href="#" class="text-white-50 text-decoration-none">All Tools</a></li>
					<li><a href="#" class="text-white-50 text-decoration-none">Privacy Policy</a></li>
					<li><a href="#" class="text-white-50 text-decoration-none">Terms of Use</a></li>
				</ul>
			</div>
		</div>
		<!-- Responsive Footer Ad Slot -->
		<div class="row mt-4 mb-3 justify-content-center">
			<div class="col-12 text-center">
				<!-- 728x90 Banner -->
				<div class="ad-slot ad-728x90 mx-auto d-none d-lg-block">
					<script type="text/javascript">
						atOptions = {
							'key' : 'c00dcdbd05dc772630140c49adc315d3',
							'format' : 'iframe',
							'height' : 90,
							'width' : 728,
							'params' : {}
						};
					</script>
					<script type="text/javascript" src="//www.highperformanceformat.com/c00dcdbd05dc772630140c49adc315d3/invoke.js"></script>
				</div>
				<!-- 468x60 Banner -->
				<div class="ad-slot ad-468x60 mx-auto d-none d-md-block d-lg-none">
					<script type="text/javascript">
						atOptions = {
							'key' : 'cb95d89b2412006de1dcd8238a27e8ef',
							'format' : 'iframe',
							'height' : 60,
							'width' : 468,
							'params' : {}
						};
					</script>
					<script type="text/javascript" src="//www.highperformanceformat.com/cb95d89b2412006de1dcd8238a27e8ef/invoke.js"></script>
				</div>
				<!-- 320x50 Banner -->
				<div class="ad-slot ad-320x50 mx-auto d-block d-md-none">
					<script type="text/javascript">
						atOptions = {
							'key' : '5cc25149fcad4f3b658a069c149270a8',
							'format' : 'iframe',
							'height' : 50,
							'width' : 320,
							'params' : {}
						};
					</script>
					<script type="text/javascript" src="//www.highperformanceformat.com/5cc25149fcad4f3b658a069c149270a8/invoke.js"></script>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col text-center text-white-50 small">
				&copy; 2023 Tools Wonder. All rights reserved.
			</div>
		</div>
	</div>
</footer>



